<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "partials/shared/head.html" . -}}
<body>
    <div id="main-content" class="bg-color-gray">
        {{- partial "partials/shared/logo-and-navigation.html" . -}}
        <div class="page-container scene-main scene-main--fade_In">
            {{- block "photomosaic" . }}{{- end }}
            {{- block "content" . }}{{- end }}
        </div>
        {{- partial "partials/shared/footer.html" . -}}
    </div>
    {{- partial "partials/shared/js.html" . -}}
</body>
</html>