{{- define "photomosaic" -}}
    {{- partial "partials/shared/photomosaic.html" . -}}
{{- end -}}

{{ define "content"}}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-10">
                <div class="row blog_posts cardPostStyle">
                    {{ range (where .Paginator.Pages ".Params.unlisted" "!=" "true") }}
                    {{- partialCached "list/full-width-post.html" . .RelPermalink -}}
                    {{ end }}
                </div>

                <nav class="pagination_holder">
                    {{ template "_internal/pagination.html" . }}
                </nav>
            </div>
        </div>
    </div>
{{ end }}