{{- define "photomosaic" -}}
{{- partial "partials/shared/photomosaic.html" . -}}
{{- end -}}

{{- define "content" -}}

{{- $story := . -}}

{{- $lines := split $story.RawContent "\n" -}}
{{- $titles := dict -}}
{{- $descriptions := dict -}}
{{- $videos := dict -}}
{{- range $lines -}}
    {{- $descr := split . ";" -}}
    {{- if strings.Contains (index $descr 0) ":" -}}
        {{- $imgVideo := split (index $descr 0) ":"  -}}
        {{- $titles = merge $titles (dict (index $imgVideo 0) (index $descr 1)) -}}
        {{- $videos = merge $videos (dict (index $imgVideo 0) (index $imgVideo 1)) -}}
    {{- else -}}
        {{- $titles = merge $titles (dict (index $descr 0) (index $descr 1)) -}}
    {{- end -}}
    {{- $descriptions = merge $descriptions (dict (index $descr 0) (index $descr 2)) -}}
{{- end -}}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-10">
            <div class="row blog_posts cardPostStyle">
                <div class="col-md-12 col-lg-12{{ if .Draft }} draft{{ end }}">
                    <article>
                        <div class="post_text story">
                            <div class="swiper">
                                <div class="swiper-wrapper title-gallery" style="text-align: center">
                                    {{ $images := .Resources.ByType "image" }}
                                    {{- range $images -}}
                                        {{- $title := index $titles .Name -}}
                                        {{- $description := index $descriptions .Name -}}
                                        {{- $originalImage := . -}}
                                        {{- $preview := $originalImage.Fit "970x728" -}}
                                        {{- $thumb := $originalImage.Fit "96x76" -}}
                                        {{- $image := $originalImage.Fit "1920x1920 q90" -}}
                                        {{- with $originalImage.Exif -}}
                                            {{- if eq 6 .Tags.Orientation -}}
                                                {{- $image = $originalImage.Fit "1920x1920 q90 r270" -}}
                                                {{- $preview = $image.Fit "970x728 q100 r270" -}}
                                                {{- $thumb = $image.Fit "96x76 q100 r270" -}}
                                            {{- else if eq 8 .Tags.Orientation -}}
                                                {{- $image = $originalImage.Fit "1920x1920 q90 r90" -}}
                                                {{- $preview = $image.Fit "970x728 q100 r90" -}}
                                                {{- $thumb = $image.Fit "96x76 q100 r90" -}}
                                            {{- else if eq 3 .Tags.Orientation -}}
                                                {{- $image = $originalImage.Fit "1920x1920 q90 r180" -}}
                                                {{- $preview = $image.Fit "970x728 q100 r180" -}}
                                                {{- $thumb = $image.Fit "96x76 q100 r180" -}}
                                            {{- end -}}
                                        {{- end -}}

                                        {{- if isset $videos .Name -}}
                                            {{- if strings.Contains (index $videos .Name) "youtu" -}}
                                            <figure data-src="{{- index $videos .Name -}}" data-poster="{{ $image.RelPermalink | relURL }}"{{ if $description }} data-sub-html="<strong>{{ $title }}</strong>. {{ $description }}"{{ end }} class="swiper-slide">
                                                <img src="{{ $preview.RelPermalink | relURL }}" alt="{{ $title }}">
                                            </figure>
                                            {{- else -}}
                                            <figure data-video='{"source": [{"src":"{{- $story.RelPermalink -}}{{- index $videos .Name -}}", "type":"video/mp4"}], "attributes": {"preload": false, "controls": true}}' data-poster="{{ $image.RelPermalink | relURL }}"{{ if $description }} data-sub-html="<strong>{{ $title }}</strong>. {{ $description }}"{{ end }} class="swiper-slide">
                                                <img src="{{ $preview.RelPermalink | relURL }}" alt="{{ $title }}">
                                            </figure>
                                            {{- end -}}
                                        {{- else -}}
                                            <figure data-src="{{ $image.RelPermalink | relURL }}" data-thumb="{{ $thumb.RelPermalink | relURL }}"{{ if $description }} data-sub-html="<strong>{{ $title }}</strong>. {{ $description }}"{{ end }} class="swiper-slide">
                                                <img src="{{ $preview.RelPermalink | relURL }}" alt="{{ $title }}">
                                            </figure>
                                        {{- end -}}

                                    {{- end -}}
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                            {{- if .Title -}}<div class="story-title"><h1 class="story_title">{{ .Title }}</h1></div>{{- end -}}
                        </div>
                        <div class="post_text post_meta_top">
                            {{- partial "partials/shared/tags.html" . -}}
                            {{- partial "partials/shared/date.html" . -}}
                        </div>
                    </article>
                </div>
                {{- partial "partials/remark42/comments.html" . -}}
            </div>
        </div>
    </div>
</div>
{{- end -}}
